<html>
<body>
<%#= image_tag "ajax-loader3.gif" %>
<body onload="document.bank_link_form.submit();" style="display:none;">
<form method="POST" name="bank_link_form" action="<%= Lolita::BankLink.action_url %>">
  <%= raw render_bank_link_form_data @payment_request %>
  <input type="submit" value="Pay with Bank Link" />
</form>
</body>
</html>
