<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <style type="text/css">
      body { font-family: Verdana, sans-serif; text-align: center;}
      h1 { text-transform: uppercase; font-size: 22px; color: #cd0a0a; text-shadow: #ccc 3px 3px 3px;}
    </style>
  </head>
  <h1>This is fake Bank Link aka Swedbank server</h1>

  <form action="" method="post">
    <button type="button" onclick="window.location.href='/bank_link_test/fake_success';">Respond as success</button> |
    <button type="button" onclick="window.location.href='/bank_link_test/fake_failure';">Respond as failure</button>
  </form>
</html>
